---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Building the best serverside with <span class="text-primary dark:text-white">Trir Hub.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Shitting on no-namers like @qvthc.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                  
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">One of the lowest prices</h6>
                        <p class="mt-2 text-gray-500">Better than JDSS/SS.fun :P</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Some of the best games on the market</h6>
                        <p class="mt-2 text-gray-500">Better than most</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The most community supported<h6>
                        <p class="mt-2 text-gray-500">Ran by members, not corporate entities.</p>
                    </div>
                </div>
            </div>
              </div>
        </div>
    </Container>
</div>
